/* ----------------------------------------------- */
/* MEALS */
/* ----------------------------------------------- */

.meals {
  padding: 0;

  &__showcase {
    list-style: none;
    width: 100%;

    li {
      display: block;
      float: left;
      width: 25%;
    }
  }

  &__photo {
    background-color: #000;
    margin: 0;
    overflow: hidden;
    width: 100%;

    img {
      height: auto;
      opacity: 0.7;
      -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
      transform: scale(1.15);
      -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
      transition: transform 0.5s, opacity 0.5s;
      width: 100%;

      &:hover {
        opacity: 1;
        -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03);
      }
    }
  }
}
