$primary: #e67e22;
$primary-effect: #cf6d17;
$secondary:  #555;
$contrast: #fff;
$accent: #888;
$alt-background: #f4f4f4;

$small-desktop: 1200px;
$large-tablet: 1023px;
$tablet: 767px;
$mobile: 480px;
